.about-page {
  font-family: 'PT Serif', serif;
  color: #3a3a3a;
  background-color: #F3F1E2;
  padding: 0 30px;
}

.logo {
  background-image: url('@/assets/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  width: 100%;
}

.overlay h2 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.overlay h1 {
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
}

.locations {
  font-size: 0.9rem;
  margin-top: 4px;
}

.breadcrumbs {
  margin: 16px 0;
  font-size: 0.9rem;
  border-bottom: 1px solid #39213D;
  padding-bottom: 8px;
}

.breadcrumbs .current {
  color: #a7a7a7;
}

.text-section {
  text-align: center;
//   margin-bottom: 32px;
  padding-bottom: 32px;
}

.text-section p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 16px;
}

.text-section img {
  max-width: 100%;
  border-radius: 8px;
  margin: 16px 0;
}

.quote {
  font-style: italic;
  font-size: 0.95rem;
  color: #39213D;
}

.instagram {
  font-size: 0.85rem;
  color: #39213D;
  margin-top: 8px;
}

.title {
    color: #39213D; 
    font-size: 24px;
    border-bottom: 1px solid #39213D;
}