.about-page {  
  padding: 0 30px;
  background-color: #FFFDF2;
}

.about-brand {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 1rem;
  // background-color: #FFFDF2;
  color: #39213D;
  font-family: 'PT Serif', serif;
  font-style: italic;
}

.brand-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.brand-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.brand-text {
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
}

.brand-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.brand-subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.way {
  display: flex;
  flex-direction: column;
  gap: 20px;
  // text-align: center;
}

.key {
  font-weight: 600;
}

/* ----- Desktop (min-width: 768px) ----- */
@media (min-width: 768px) {
  .brand-block {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }

  .brand-block.reverse {
    flex-direction: row-reverse;
  }

  .brand-image {
    width: 50%;
    max-height: 100%;
  }

  .brand-text {
    width: 50%;
    font-size: 20px;
    line-height: 1.6;
  }

  .brand-title {
    font-size: 26px;
  }

  .brand-subtitle {
    font-size: 1.4rem;
  }

  .center {
    display: flex;
    justify-content: center;
  }
  
  .center .brand-text {
    width: 100%;
  }

  .way {
    display: flex;
    width: 100%;
  }
}

