a:visited {
    color: #FFFCDC;
    // color:black
}


.header__wrapper {
    width: 100%;
    padding: 10px 20px 10px 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-family: 'PT Serif', serif;
    // font-style: italic;
    font-size: 22px;        
    background-color: #18101F
    // background-image: url('@/assets/velur.png');
}

.header__options {
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: #FFFCDC;
    text-decoration: none
}

.right-side_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px
}


///////Анимация и стили для появления меню

.burger-menu {
    position: relative;
}



.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

///////



.burger-icon {
    &.open {
        transform: rotate(90deg);;
    }
}

.bg-menu_options {
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-left: 20px;
    position: absolute;
    left: 0;
    color: #FFFCDC;
    background-color: #18101F;
    // background-image: url('@/assets/bg_velur.png');
}

.bg-menu_options .option {
    padding-left: 20px;
    padding-top: 10px;
}

//////////// 


.mat__logo {
    padding-top: 5px;
}

////Выравнивание элементов хедера по бокам и центру
.left,  
    .right {
        flex: 0 0 auto
}

.center {
    position: absolute;
    left: 50%; /* Сдвигает левый край в центр */
    transform: translateX(-50%); /* Возвращает назад на половину своей ширины */
}


////////


@media (min-width : 768px) {
    .header__wrapper {
        // background-image: url('@/assets/velur_tablet.png');
    }
}

@media (min-width : 1024px) {
    .header__wrapper {
        font-size: 18px;    
        padding: 10px 30px 10px 30px;
    }
}

@media (min-width : 1920px) {
    .header__wrapper {
        font-size: 22px;    
        padding: 20px 100px 20px 100px;
    }
}