a:visited {
    color: rgba(255, 247, 168, 1);
    // color:black
}


.header__wrapper {
    width: 100%;
    padding: 0 20px 0 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-family: 'PT Serif', serif;
    // font-style: italic;
    font-size: 22px;        
    // background-color: rgba(57, 33, 61, 1)
    background-image: url('@/assets/velur.png');
}


///////Анимацияи и стили для появления меню

.burger-menu {
    position: relative;
}



.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}


.burger-icon {
    &.open {
        transform: rotate(90deg);;
    }
}

.bg-menu_options {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: absolute;
    left: 0;
    color: rgba(255, 247, 168, 1);
    // background-color: rgba(255, 247, 168, 1);
    background-image: url('@/assets/bg_velur.png');
}

.bg-menu_options a {
    padding-left: 20px;
    padding-top: 10px;
}

//////////// 


.mat__logo {
    padding-top: 5px;
}

////Выравнивание элементов хедера по бокам и центру
.left,  
    .right {
        flex: 0 0 auto
}

.center {
    position: absolute;
    left: 50%; /* Сдвигает левый край в центр */
    transform: translateX(-50%); /* Возвращает назад на половину своей ширины */
}


////////

.header__options {
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: rgba(239, 239, 236, 1);
}

.right-side_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px
}

@media (min-width : 768px) {
    .header__wrapper {
        background-image: url('@/assets/velur_tablet.png');
    }
}

@media (min-width : 1024px) {
    .header__wrapper {
        font-size: 22px;    
        padding: 0 60px 0 60px;
    }
}

@media (min-width : 1920px) {
    .header__wrapper {
        font-size: 26px;    
        padding: 0 100px 0 100px;
    }
}