a:visited {
    color: rgba(255, 247, 168, 1);
}

a:hover {
  color: rgba(255, 247, 168, 1);
}

a:visited {
  color: rgba(255, 247, 168, 1)
}

a:active {
  color: rgba(255, 247, 168, 1)
}

.footer {
  background-color: #18101F; /* тёмно-фиолетовый текстурный фон */
  // background-image: url('@/assets/bg_velur.png');
  color: #FFFCDC;
  padding: 40px 20px;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-top {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
}

.footer-text {
  margin-bottom: 12px;
  font-size: 20px;
}

.footer-link {
  color: #FFFCDC;;
  font-family: 'PT Serif', serif;
  font-size: 20px;
}

.footer-accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-bottom {
  font-size: 16px;
  text-align: center;
  color: #FFFCDC;
  margin-top: 20px;
  text-align: left;
}

.footer-design a {
  color: #a78aff;
  text-decoration: underline;
}



@media (min-width : 768px) {


  .footer-text {
    font-size: 26px;
  }

  .footer-link {
    margin-top: 20px;
    font-size: 26px;
  }

  .footer-bottom {
  font-size: 20px;
}


}


@media (min-width : 1024px) {
  
}